header {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    &__logo {
        font-size: 24px;
        font-weight: bold;
    }

    &__nav {
        display: flex;
    }

    &__nav-list {
        display: flex;
        gap: 20px;
    }

    &__nav-item {
        list-style: none;
    }

    &__nav-link {
        text-decoration: none;
        color: #333;
    }
}